html, body {
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100vw; 

}

.frame {
 
  flex-direction: row;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: 100vw; 
  height: 100vh;
  
}

.frame .div {

  width: 100vw; 
  height: 200vh;
  position: relative;
 /* Add this line */

}

.frame .overlap {
  position: absolute;
  width: 100vw; 
  height: 100vh;
  top: 0;
  left: 0;


}

.frame .overlap-group {
  position: absolute;
  max-width: 60vw; 
  height: 89.44vh; 
  top: 10.56vh;
  left: 33.54vw;
}


.overlap-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;  /* Make sure it's behind everything else */
}

.frame .layer {
  position: absolute;
  width: 30vw;
  height: 40vh;
  top: 45vh;
  left: 0;
  object-fit: cover;
}

.frame .overlap-2 {
  position: absolute;
  max-width: 50vw;
  height: 80vh;
  top: 0;
  left: 7vw;
}

.frame .overlap-3 {
  position: absolute;
  max-width: 35vw;
  height: 30vh;
  top: 0.7vh;
  left: 0;
}

.frame .group {
  position: absolute;
  max-width: 20vw;
  height: 30vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .ecj-ss-group {
  position: absolute;
  max-width: 20vw;
  height: 15vh;
  top: 10vh;
  left: 15vw;
  object-fit: cover;
}

.frame .overlap-4 {
  position: absolute;
  max-width: 25vw;
  height: 80vh;
  top: 0;
  left: 25vw;
}

.frame .img {
  position: absolute;
  max-width: 15vw;
  height: 25vh;
  top: 50vh;
  left: 10vw;
  object-fit: cover;
}

.frame .group-2 {
  position: absolute;
  max-width: 20vw;
  height: 35vh;
  top: 25vh;
  left: 0;
  object-fit: cover;
}

.frame .group-3 {
  position: absolute;
  max-width: 20vw;
  height: 30vh;
  top: 0;
  left: 7vw;
  object-fit: cover;
}

.frame .group-4 {
  position: absolute;
  max-width: 35vw;
  height: 25vh;
  top: 10vh;
  left: 8vw;
  object-fit: cover;
}

.frame .group-5 {
  position: absolute;
  max-width: 15vw;
  height: 10vh;
  top: 40vh;
  left: 20vw;
  object-fit: cover;
}

.frame .group-6 {
  position: absolute;
  max-width: 15vw;
  height: 35vh;
  top: 50vh;
  left: 10vw;
  object-fit: cover;
}

.frame .group-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 100vh;
  left: 0;

}

.frame .group-7 {
  position: relative;
  max-width: 80vw;
  height: 80vh;
  top: 5vh;
  left: 10vw;
}

.frame .group-8 {
  position: absolute;
  max-width: 20vw;
  height: 30vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .group-9 {
  position: absolute;
  max-width: 25vw;
  height: 10vh;
  top: 40vh;
  left: 1vw;
  object-fit: cover;
}

.frame .group-10 {
  position: absolute;
  max-width: 20vw;
  height: 25vh;
  top: 55vh;
  left: 60vw;
  object-fit: cover;
}

.frame .group-11 {
  position: absolute;
  max-width: 20vw;
  height: 25vh;
  top: 50vh;
  left: 0;
  object-fit: cover;
}

.frame .overlap-group-2 {
  position: absolute;
  max-width: 20vw;
  height: 50vh;
  top: 0;
  left: 55vw;
}

.frame .group-12 {
  position: absolute;
  max-width: 15vw;
  height: 25vh;
  top: 0;
  left: 0;
  object-fit: cover;
}

.frame .group-13 {
  position: absolute;
  max-width: 15vw;
  height: 30vh;
  top: 15vh;
  left: 5vw;
  object-fit: cover;
}

.frame .BODY-COUNT {
  position: relative;
  font-family: "Matiz-Regular", Helvetica;
  font-weight: 400;
  color: white;
  font-size: 7vw;
  text-align: center;
  letter-spacing: 0;
  line-height: 10vw;
}

